
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="/static/styles.css"> -->
    <title>Telephone</title>
    <!-- <style>
        body {background-color:{{ bkcolor }}; }
        a:hover {color:{{ hovcolor }}; }
    </style> -->
</head>
<body>
    <h1>Telephone</h1>
    {% if statusCode == 200 %}
        <p>Yo Responses were found</p>
    {% else %}
        <p>No Responses Soz</p>
    {% endif %}
    <!-- <h2>Today's PEP is</h2>
    <h2><a href={{ pepo }}> {{ pep_name }} </a></h2> -->

</body>
</html>